/*base*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(244, 195, 255);
   
}
.navbar{
     background-color: rgb(247, 64, 177);
    margin: 10px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 70px;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    color: white 
}

.banner {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: rgb(255, 0, 115)
   
}

.productos img{
    width: 150px;

    max-width: 100%;
}
.productos{
    background-color: rgb(240, 134, 207);
    padding: 10vh 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 1%;
    justify-content: space-around;
    color: white; /* color de la letra */
    
    
}
.productos .card{
    background-color: rgb(250, 20, 166);
    display: flex;
    padding: 10px;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

     max-width: 300px;   /* ancho máximo de la card */
    width: 100%;        /* se adapta dentro del contenedor */

    text-align: center; /* centra el texto */

}

.frutiamiguis img{
    max-width: 100px;}

.frutiamiguis{
    background-color: rgb(150, 148, 245);
    display: flex;
    padding: 60px;
    margin: 70px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    color: white
    
}
.texto img{
    max-width: 100px;}

.texto{
     background-color: rgb(250, 20, 166);
    padding: 10vh 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;
    color: white


}
