* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
}

.navMenu{
    background-color: rgb(87, 167, 221);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.navMenu img {
    width: 70px;
}

.navMenu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}